<div class="signUpContainer">
    <div class="row signUpSegment">
        <div class="col-md-12 signup">
            <div class="col-md-12 signUpdivStyle">
                <div class="signUpTitle"><img [src]="LogoImage" (click)="navigateToHome()"></div>
            </div>
            <div class="col-md-12">
                <h2><b>Deck Of Cards</b></h2>
            </div>
            <div class="signUpText">Sign Up</div>
            <form [formGroup]="form" class="form-horizontal">
                <div class="form-group row col-md-12 inputbutton emaildiv signUpdivStyle"
                     [ngClass]="{'has-error': (!form.get('name').valid && form.get('name').touched), 'has-success': (form.get('name').valid && form.get('name').touched)}">
                    <div class="input-group sign-up-input">
                        <span class="input-group-addon" id="basic-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input formControlName="name" type="text" class="form-control inputbox right-border"
                               id="inputFirstName" placeholder="name" pattern="([a-zA-Z ]+\s?)*$" #name (blur)="name.value = trimContent(name.value, 'name')" maxlength="30"  tabindex="1">
                    </div>
                    <div class="signUpErrorMessage">
                    <span *ngIf="!form.get('name').valid && form.get('name').touched"
                          class="help-block sub-little-signUp-error confpass">Name is required.</span>
                    </div>
                </div>

                <div class="form-group row col-md-12 inputbutton emaildiv signUpdivStyle"
                     [ngClass]="{'has-error': (!form.get('age').valid && form.get('age').touched), 'has-success': (form.get('age').valid && form.get('age').touched)}">
                    <div class="input-group sign-up-input">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>

                        <input formControlName="age" type="text" class="form-control inputbox right-border"
                               id="inputLastName" placeholder="Age" min="0" max="99" pattern="([0-9]+\s?){2}$" maxlength="2" tabindex="2">
                    </div>
                    <div class="signUpErrorMessage">
                    <span *ngIf="!form.get('age').valid && form.get('age').touched"
                          class="help-block sub-little-signUp-error confpass">Age is required.</span>
                    </div>
                </div>

                <div class="form-group row col-md-12 inputbutton emaildiv signUpdivStyle"
                     [ngClass]="{'has-error': (!form.get('password').valid && form.get('password').touched), 'has-success': (form.get('password').valid && form.get('password').touched)}">
                    <div class="input-group sign-up-input">
                        <span class="input-group-addon" ><i class="fa fa fa-key" aria-hidden="true"></i></span>

                        <input formControlName="password" class="form-control inputbox right-border"
                                placeholder="Password" type="password" maxlength="10">
                    </div>
                    <div class="signUpErrorMessage">
                            <span *ngIf="!form.get('password').valid && form.get('password').touched && form.get('password').value != ''"
                                  class="help-block sub-little-signUp-error confpass"> Password should be 8 digit long. </span>
                        <span *ngIf="form.get('password').touched && form.get('password').value == '' "
                              class="help-block sub-little-signUp-error confpass">Password Id is Required. </span>
                    </div>
                </div>

                <div  class="form-group row col-md-12 inputbutton signUpdivStyle">
                            <div *ngIf="this.skillsArray.length == 0" style="margin: 0 auto"><span style="font-size: 12px; color: red;" ><i>add skill and enter</i></span></div>
                            <span style="padding: 0; border-radius: 2px; overflow: hidden; border: 1px solid #3b5998; display: block; color: #3b5998; margin: 5px"
                                  *ngFor="let item of skillsArray, let j =index">
                        <span class="btn btn-default" style=" overflow: hidden;text-overflow: ellipsis; ">
                            <i style="padding: 0 1px 0 1px" class="fa fa-tag fa-1x"></i>
                            {{item.skill}}</span>
                        <span (click)="this.skillsArray.splice(j,1)" class="btn btn-default">
                            <i class="fa fa-close"></i>
                                </span>
                    </span>
                </div>

                <div class="form-group row col-md-12 inputbutton emaildiv signUpdivStyle"
                     [ngClass]="{'has-error': (!form.get('skill').valid && form.get('skill').touched), 'has-success': (form.get('skill').valid && form.get('skill').touched)}">
                    <div class="input-group sign-up-input">
                        <span class="input-group-addon" ><i class="fa fa-black-tie" aria-hidden="true"></i></span>

                        <input maxlength="20" (keyup.enter)="form.get('skill').valid && addSkill(form.controls['skill'].value)"
                               formControlName="skill" type="text" class="form-control inputbox right-border"
                               placeholder="skill" tabindex="2">
                    </div>
                    <div class="signUpErrorMessage">
                    </div>
                </div>
                <div class="form-group row col-md-12 inputbutton signUpdivStyle">
                <span style="overflow: hidden; width: 80%; display: flex; text-overflow: ellipsis; color: #3b5998; margin: 5px"
                      *ngFor="let files of fileUploadArray, let j =index">
                        <span class="btn btn-default"
                              style="border: 1px solid #3b5998; overflow: hidden;text-overflow: ellipsis; ">
                            <i style="padding: 0 5px 0 5px" class="fa fa-file"></i>
                            {{files.name}}</span>
                        <span (click)="this.fileUploadArray.splice(j,1)" class="btn btn-default"
                              style="border: 1px solid #3b5998;color: red;"><i class="fa fa-trash"></i></span>
                    </span>
                </div>

                <div class="form-group row col-md-12 inputbutton emaildiv signUpdivStyle"
                     [ngClass]="{'has-error': (!form.get('skill').valid && form.get('skill').touched), 'has-success': (form.get('skill').valid && form.get('skill').touched)}">
                    <div class="input-group sign-up-input">
                        <input [disabled]="this.fileUploadArray == 2" style="font-size: 12px; height: 40px;" type="file" formControlName="fileUpload" (change)="onFileChange($event)" #fileInput multiple>
                    </div>
                    <div class="signUpErrorMessage">
                    </div>
                </div>


                <div class="form-group row col-md-12 inputbutton submitButton signUpdivStyle">
                    <button (click)="onSubmit(form.value)" [ngClass]="{'disableSubmit' : (form.invalid || fileUploadArray == 0 || skillsArray == 0) }"
                           [disabled]="form.invalid || fileUploadArray == 0 || skillsArray == 0"
                           type="submit" class="btnStyle signUpButton" tabindex="2">SIGN UP</button>
                </div>

            </form>
            <div class="col-md-12 alreadyHaveAccount signUpdivStyle">
                <div class="col-md-12 signUpdivStyle signUpFooter">
                    <span>Already have an account?</span>
                    <a tabindex="5" (click)="navigateToSignIn()"><span class="forgotPassword">Sign In</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
